.menu{
    padding-top: 5rem;
    height: 100vh;
    background-color: #ffdd7c;
}

.menuItems{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
}

.menuItems img{
    width: 100%;
    height: 250px;
    border-radius: 20px;
    object-fit:cover;
    margin-bottom: 30px;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 40px; */
    padding: 8px;

    background-color: #fff;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

    cursor: pointer;
    transition: 0.3s;
}

.item p.text-ch{
    font-size: 2.5rem;
    font-weight: 600;
    font-family: "Ma Shan Zheng", cursive;
}

.item p{
    width: 100%;
    text-align: center;
    color: #265037;
    font-size: 1.5rem;
    font-weight: 900;
    padding-block: 8px;
}

.item:hover{
    transform: scale(1.05);
}