.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5rem;
    /* background-color: #fff8e8; */
    background-color: #265037;
    margin-top: 2rem;
}

.hero-left{
    max-width: 650px;
    text-align: center;
}

.hero-left img{
    width: 70%;
}

.hero-left h1{
    font-size: 2.5rem;
    text-transform: uppercase;
    /* color: #265037; */
    color:#fff8e8;
    font-weight: 600;
    letter-spacing: 0.25rem;
    margin-bottom: 2rem;
}

.hero-left button{
    font-size: 1.5rem;
    font-weight: 600;
    color: #265037;
    padding: 18px 30px;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: #fff8e8;
    border: 2px solid #fff8e8;
    cursor: pointer;
    transition: all 0.3s;
}

.hero-left button:hover{
    transform: scale(1.03);
    color: #fff8e8;
    font-weight: 900;
    background-color: #265037;
    border: 2px solid #fff8e8;
}

.hero-img{
    position: relative;
    isolation: isolate;
}

.hero-img img{
    width: 350px;
}

.hero-img::before{
    content: "";
    /* background-color: #265037; */
    background-color: #fff8e8;
    height: 450px;
    width: 350px;
    top: -30px;
    left: 30px;
    z-index: -1;
    position: absolute;
}


@media (max-width:900px){
    .hero{
        flex-direction:column;
        padding-block: 7rem;
    }

    .hero-left img{
        width: 60%;
        margin-bottom: 1rem;
    }

    .hero-left h1{
        font-size: 2rem;
    }

    .hero-left button{
        font-size: 1.5rem;
        font-weight: 600;
        color: #265037;
        padding: 10px 25px;
    }
    
    .hero-img{
        display: none;
    }
}


@media (max-width:500px){
    .hero-left img{
        width: 80%;
    }
}