.contact{
    padding-block: 5rem 6rem;
    background-color:#265037;
    color: #fff;
}

.contact h2{
    font-size: 3rem;
    margin-bottom: 5rem;
}

.contact-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* gap: 40px; */
    text-align: center;
}

.contact-list{
    padding-inline: 40px;
}

.contact-list:nth-child(1),
.contact-list:nth-child(2){
    border-right:2px solid white ;
}

.contact-title{
    margin-bottom: 3rem;
}

.contact-title .contact-icon{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.contact-title h3,
.contact-text p{
    font-size: 1.75rem;
}

.map-links{
    display: flex;
    flex-direction: column;
}

.map-links a{
    color: white;
    font-size: 1.25rem;
    text-decoration: none;
    padding-block: 6px;
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.map-links a:hover,
.contact-link a:hover{
    color: rgb(249, 199, 71);
}

.map-links .icon{
    margin-right: 1rem;
}

.contact-list:nth-child(2) .contact-text p{
    margin-bottom: 1rem;
}


.contact-link{
    padding-block: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-link a{
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}

.contact-link a .contact-link-icon{
    margin-right: 20px;
}


@media (max-width: 1000px){
    .contact-grid{
        grid-template-columns: repeat(2,1fr);
        row-gap: 5rem;
    }
    
    .contact-title .contact-icon{
        font-size: 2rem;
        margin-bottom: 0;
    }

    .contact-title{
        margin-bottom: 2rem;
    }

    .contact-list:nth-child(2){
        border: none;
    }
}


@media (max-width: 650px){
    .contact-grid{
        grid-template-columns: repeat(1,1fr);
    }
    
    .contact-title .contact-icon{
        font-size: 2rem;
        margin-bottom: 0;
    }

    .contact-title{
        margin-bottom: 2rem;
    }

    .contact-list:nth-child(1){
        border: none;
    }
}

