nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #265037;
}

nav.dark-nav{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.nav-logo{
    width: 150px;
}

nav ul {
    display: flex;
    gap: 3rem;
}

nav ul li{
    font-size: 1.2rem;
    list-style: none;
    cursor: pointer;
    color: #fff;
    transition: 0.3s;
}

nav ul li:hover{
    color: #ffdd81;
}

.menu-bar{
    color: #fff;
    font-size: 24px;
    display: none;
}


@media (max-width:800px){
    .menu-bar{
        display: block;
    }

    nav ul{
        display: none;
    }
}